appnope==0.1.2
argon2-cffi==20.1.0
astroid==2.12.12
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==4.0.0
brotlipy==0.7.0
cachetools==5.2.0
certifi==2021.5.30
cffi @ file:///opt/concourse/worker/volumes/live/976f8942-f51d-4f0e-7352-2a10f0820d0e/volume/cffi_1625814703974/work
chardet @ file:///opt/concourse/worker/volumes/live/7e1102c4-8702-40f2-63d6-f260ce5f85e4/volume/chardet_1607706831384/work
charset-normalizer==2.0.4
conda==4.10.3
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
cryptography @ file:///opt/concourse/worker/volumes/live/d5dda287-c0b3-4861-7262-fab05baa64dc/volume/cryptography_1616769284011/work
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
entrypoints==0.3
exceptiongroup==1.0.1
filelock==3.8.0
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
httplib2==0.21.0
idna==3.2
iniconfig==1.1.1
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.10.1
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
lazy-object-proxy==1.8.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.7.0
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.21.1
oauth2client==4.1.3
packaging==21.0
pandas==1.3.1
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
platformdirs==2.5.2
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==4.21.9
ptyprocess==0.7.0
pyairtable==1.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyDrive==1.3.1
Pygments==2.9.0
pylint==2.15.5
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
pytest==7.2.0
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0
pyzmq==22.2.0
qtconsole==5.1.1
QtPy==1.9.0
requests==2.26.0
rsa==4.9
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
Send2Trash==1.7.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
slack-sdk==3.8.0
terminado==0.10.1
testpath==0.5.0
tomli==2.0.1
tomlkit==0.11.6
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
traitlets==5.0.5
typing-extensions==4.4.0
uritemplate==4.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
virtualenv==20.16.5
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.14.1
